body{
    margin: 0;
    font-family: system-ui;
}

.page-title{
    background:rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    font-family: fantasy;
    letter-spacing: 20px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.menu{
    background: cadetblue;
    text-align: center;
}

.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
}

.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
}

.a-menu{
    text-decoration: none;
    color: white;
}

.menu-ul li:hover{
    background: navy;
    transform: scale(1.1);
}

.search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
}

.search-box:hover{
    box-shadow: 0 0 10px 2px teal;
    border: 1px solid teal;
}

.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px 0 0 10px;
}

i{
    font-size: 20px;
    margin: 0 10px;
}

button{
    background: transparent;
    border: none;
    outline: none;
}

.container{
    margin: 70px 50px 50px 5%;
    width: 90%;
    text-align: center;
}

.categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid royalblue;
    border-radius: 0 0 50px 50px;
    display: inline-block;
}

.categories:hover, .items:hover{
    box-shadow: 0 0 10px 3px #393E46;
}

.item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
}

.image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

a{
    text-decoration: none;
}

.title{
    padding: 50px;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0,0,0,0.5);
}

.deal{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg,rgb(68, 65, 65) 20%, rgb(60, 74, 88) 50%, rgb(45, 44, 65) 80%);
}

.coupon-btn{
    border: 1px solid white;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

.coupon-btn:hover{
    box-shadow: 0 0 10 5px white inset;
}

.images{
    display: inline-block;
}

.item-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
}

.description{
    margin: 20px;
    min-height: 100px;
}

.item-select{
    margin: 10px 0 0 0;
}

.buynow-btn{
    border: 1px solid darkblue;
    background: rgb(22, 53, 153);
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}

.buynow-btn:hover{
    border: 1px solid rgb(12, 111, 150);
    box-shadow: 0 0 10px 5px rgb(5, 108, 224) inset;
}

.parallaxl{
    background-color: rgb(69, 61, 77);
}

.footer{
    background: rgba(red, green, blue, alpha);
    text-align: center;
    padding: 20px;
}

.quick-links{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
}

.quick-links ul{
    padding: 0;
}

.quick-links li{
    list-style: none;
    padding: 10;
    font-weight: 300;
}

.a-links:hover{
    color: rgb(9, 46, 42);
}

p{
    text-align: center;
}

.items{
    text-align: center;
}